{% if max_pages > 1 %}
{% if not oob_swap %}
<div
    x-data="{
        page: {{problem_page}},
        set_page(new_page){
            this.page = new_page;
            $refs.page_input.value = this.page;
            $dispatch('filter_page');
        },
    }">
    <input id="page_input" x-ref="page_input" type="hidden" name="page">
{% endif %}

    <nav
        id="problem_page_navigation"
        {% if oob_swap %}
        hx-swap-oob="true"
        {% endif %}
        class="flex flex-row justify-center gap-2"
        >
        {% for page in page_range %}
            {% if page != "…" %}
            <button
                {% if page == problem_page %}
                disabled
                {% endif %}
                class="filter_page dark:bg-background-800 px-2 py-1 rounded-sm disabled:dark:bg-background-800/50 disabled:text-text-dark/20"
                @click="set_page({{page}})">{{page}}</button>
            {% else %}
            <div class="mx-1 flex flex-col justify-end">{{page}}</div>
            {% endif %}
        {% endfor %}
    </nav>

{% if not oob_swap %}
</div>
{% endif %}

{% endif %}
