<tr class="dark:bg-background-800 dark:even:bg-background-900/40">
	<td
        class="text-sm font-medium text-left pl-4 py-3"
        >
        <a target="_blank" href="{{problem.link}}"
            class="red-link"
            >{{problem.problem_name}}</a>
    </td>

	<td
        class="text-sm font-medium text-left pl-4 py-3"
        >{{problem.elo}}</td>

	<td
        class="text-sm font-medium text-left pl-4 py-3"
        >
		{% with tags=problem.tags.all %}
			{% if tags %}
                {% for tag in tags %}
                    <span
                        class="inline-flex items-center rounded-md bg-accent-800/30 text-xs font-medium text-accent-300 px-2 py-1 mr-1 mb-1"
                        >{{tag}}</span>
                {% endfor %}
            {% else %}
                None
			{% endif %}
		{% endwith %}
	</td>

        <td
            class="text-sm font-medium text-left pl-4 py-3"
            >
            {% if problem.editorial %}
                <a target="_blank" href="{{problem.editorial}}">Editorial</a>
            {% else %}
                None
            {% endif %}
        </td>

    {% if user.is_authenticated %}
        <td
            class="text-sm font-medium text-center px-4 py-3"
            >
            <input type="checkbox"
                name="{{problem.problem_name}}"
                {% if problem in solved_problems %}
                    checked
                {% endif %}
                hx-post="{% url 'save_problem' %}"
                hx-swap="none"
                hx-vals='{"problem-name": "{{problem.problem_name}}"}'
                class="text-accent-600"
            >
        </td>
    {% endif %}
</tr>
