<table
    id="problems_table"
    class="dark:bg-background-800 overflow-x-auto"
    >
	<thead>
        <tr class="bg-background-50 dark:bg-background-950">
            <th class="text-left pl-4 py-2 text-base font-bold">
                <a class="flex flex-row gap-1 items-center"
                    >Name
                    <i class="fa-solid fa-sort"></i>
                    <!-- <i class="fa-solid fa-sort-up"></i> -->
                    <!-- <i class="fa-solid fa-sort-down"></i> -->
                </a>
            </th>
            <th class="text-left pl-4 py-2 text-base font-bold">
                <a class="flex flex-row gap-1 items-center text-base"
                    >Difficulty
                    <i class="fa-solid fa-sort"></i>
                    <!-- <i class="fa-solid fa-sort-up"></i> -->
                    <!-- <i class="fa-solid fa-sort-down"></i> -->
                </a>
            </th>
            <th class="text-left pl-4 py-2 text-base font-bold"
                >Tags
            </th>
            <th class="text-left pl-4 py-2 text-base font-bold"
                >Editorial
            </th>
            {% if user.is_authenticated %}
                <th class="text-center py-2 px-4 text-base font-bold"
                    >Solved
                </th>
            {% endif %}
            </tr>
	</thead>
	<tbody class="divide-y divide-background-700">
	<!-- <tbody> -->
		{% if problems %}
			{% for problem in problems %}
                {% with solved_problems=user.profile.problems_solved.all %}
                    {% include "problems/components/problem.html" with problem=problem %}
                {% endwith %}
			{% endfor %}
		{% endif %}
	</tbody>
</table>
