<div class="overflow-x-auto">
<table
    id="problems_table"
    class="dark:bg-background-800 w-full"
    >
	<thead>
        <tr class="bg-background-50 dark:bg-background-950"
            x-data="{
                name_sort: {{name_sort}},
                elo_sort: {{elo_sort}},
                name_change(){
                    this.name_sort = this.name_sort + 1;
                    this.name_sort = this.name_sort == 3 ? 0 : this.name_sort;
                    this.elo_sort = 0;
                },
                elo_change(){
                    this.elo_sort = this.elo_sort + 1;
                    this.elo_sort = this.elo_sort == 3 ? 0 : this.elo_sort;
                    this.name_sort = 0;
                },
            }"
            >
            <th class="py-2 pl-4 text-left text-base font-bold">
                <a class="flex flex-row items-center gap-1"
                    >Name
                    <button
                        @click="name_change()"
                        class="filter_sort"
                        >
                        <input type="hidden" name="name_sort" :value="name_sort"></input>
                        <i class="fa-solid fa-sort"
                            :class="{'fa-sort': name_sort == 0, 'fa-sort-down': name_sort == 1, 'fa-sort-up': name_sort == 2}"
                            ></i>
                    </button>
                </a>
            </th>
            <th class="py-2 pl-4 text-left text-base font-bold">
                <a class="flex flex-row items-center gap-1"
                    >Difficulty
                    <button
                        @click="elo_change()"
                        class="filter_sort"
                        >
                        <input type="hidden" name="elo_sort" :value="elo_sort"></input>
                        <i class="fa-solid fa-sort"
                            :class="{'fa-sort': elo_sort == 0, 'fa-sort-down': elo_sort == 1, 'fa-sort-up': elo_sort == 2}"
                            ></i>
                    </button>
                </a>
            </th>
            <th class="py-2 pl-4 text-left text-base font-bold"
                >Tags
            </th>
            <th class="py-2 pl-4 text-left text-base font-bold"
                >Editorial
            </th>
            {% if user.is_authenticated %}
                <th class="px-4 py-2 text-center text-base font-bold"
                    >Solved
                </th>
            {% endif %}
            </tr>
	</thead>
    {% include "problems/components/problems_body.html" %}
</table>
</div>
