<table
    id="problems_table"
    class="w-full text-text-light dark:text-text-dark dark:bg-background-800"
    >
	<!-- <colgroup> -->
	<!-- 	<col style="width: 400px"> -->
	<!-- 	<col style="width: 70px"> -->
	<!-- 	<col style="width: 180px"> -->
	<!-- 	<col style="width: 130px"> -->
	<!-- 	{% if user.is_authenticated %} -->
	<!-- 		<col style="width: 10px"> -->
	<!-- 	{% endif %} -->
	<!-- </colgroup> -->
	<thead>
        <tr class="bg-background-50 dark:bg-background-950">
            <th
                class="text-sm font-medium text-left pl-4 py-2"
                >Problem Name</th>
            <th
                class="text-sm font-medium text-left pl-4 py-2"
                >Difficulty</th>
            <th
                class="text-sm font-medium text-left pl-4 pr-3 py-2"
                >Tags</th>
            <th
                class="text-sm font-medium text-left pl-4 py-2"
                >Editorial</th>
            {% if user.is_authenticated %}
                <th
                    class="text-sm font-medium text-center pl-4 py-2"
                    >Solved</th>
            {% endif %}
            </tr>
	</thead>
	<tbody>
		{% if problems %}
			{% for problem in problems %}
				{% include "problems/components/problem.html" with problem=problem %}
			{% endfor %}
		{% endif %}
	</tbody>
</table>
