<tr>
	<td><a target="_blank" href="{{problem.link}}">{{problem.problem_name}}</a></td>

	<td>{{problem.elo}}</td>

	<td>
		{% with tags=problem.tags.all %}
			{% if tags %}
				{{ tags|join:", " }}
			{% endif %}
		{% endwith %}
	</td>

	{% if problem.editorial %}
		<td><a target="_blank" href="{{problem.editorial}}">Editorial</a></td>
	{% else %}
		<td></td>
	{% endif %}

	{% with solved_problems=user.profile.problems_solved.all %}
		{% if user.is_authenticated %}
			<td>
				<input type="checkbox"
					name="{{problem.problem_name}}"
					{% if problem in solved_problems %}
						checked
					{% endif %}
					hx-post="{% url 'save_problem' %}"
					hx-swap="none"
					hx-vals='{"name": "{{problem.problem_name}}"}'
				>
				</input>
			</td>
		{% endif %}
	{% endwith %}
</tr>
