<div class="clipboard_notification" x-data="
    {
        active : false,
        show() {
            this.active = true;
            setTimeout(() => this.active = false,2000)
        } 
    }
    " @clipboard_notfication.window.throttle.2000ms="show()">
    <div class="bg-background-50 dark:bg-background-900 dark:shadow-background-800 dark:ring-background-700 fixed bottom-8 right-8
        rounded-md py-4 pl-6 pr-20 shadow-md ring-1 ring-opacity-5"
        x-show="active"
        x-transition:enter="transition duration-150 ease-out"
        x-transition:enter-start="scale-90 opacity-0"
        x-transition:enter-end="scale-100 opacity-100"

        x-transition:leave="transition duration-200 ease-in"
        x-transition:leave-start="scale-100 opacity-100"
        x-transition:leave-end="scale-90 opacity-0"
        >Copied to Clipboard</div>
</div>
