### generated pages ###
app/templates/generated/

### Django ###
*.log
*.pot
*.pyc
__pycache__/
app/local_settings.py
app/db/
app/media/
app/staticfiles/

### tailwind ###
**/node_modules

# server certificates
certs/

# Environments
.env
.env.*
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
