Brotli==1.1.0
Django==5.1
django-browser-reload==1.13.0
django-environ==0.11.2
django-htmx==1.18.0
django-tailwind==3.8.0
gunicorn==22.0.0
Markdown==3.6
markdown-katex==202406.1035
Pygments==2.18.0
pymdown-extensions==10.8.1
whitenoise==6.7.0
