<div class="-mr-2 flex md:hidden">
    <!-- Mobile menu button -->
    <button
        x-ref="mobile_menu_button"
        type="button"
        class="relative inline-flex items-center justify-center rounded-md dark:bg-background-800 p-2 text-text-300 dark:hover:bg-background-700 dark:hover:text-text-100 focus:outline-none focus:ring-2 focus:ring-text-100 focus:ring-offset-2 focus:ring-offset-background-900"
        @click="toggle_mobile()"

        aria-controls="mobile_menu"
        x-bind:aria-expanded="mobile_menu_open">
        <span class="absolute -inset-0.5"></span>
        <span class="sr-only">Open main menu</span>
        <!-- Menu open: "hidden", Menu closed: "block" -->
        <svg class="block h-6 w-6 stroke-current fill-none"
            :class="{'hidden': mobile_menu_open, 'block': !(mobile_menu_open)}"
            viewBox="0 0 24 24" stroke-width="1.5" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
        <!-- Menu open: "block", Menudark: '#0e7490' closed: "hidden" -->
        <svg class="hidden h-6 w-6 stroke-current fill-none"
            :class="{'hidden': !(mobile_menu_open), 'block': mobile_menu_open}"
            fill="none"
            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
    </button>
</div>
