<tr class="dark:bg-background-800 dark:even:bg-background-900/40">
	<td
        class="py-3 pl-4 text-left text-sm font-medium"
        >
        <a target="_blank" href="{{problem.link}}"
            class="red-link"
            >{{problem.problem_name}}</a>
    </td>

	<td
        class="py-3 pl-4 text-left text-sm font-medium"
        >{{problem.elo}}</td>

	<td
        class="py-3 pl-4 text-left text-sm font-medium"
        >
		{% with tags=problem.tags.all %}
			{% if tags %}
                {% for tag in tags %}
                    <span
                        class="bg-accent-800/30 text-accent-300 my-0.5 mr-1 inline-flex items-center rounded-md px-2 py-1 text-xs font-medium"
                        >{{tag}}</span>
                {% endfor %}
            {% else %}
                {% comment %} this makes all the colums even {% endcomment %}
                <span class="bg-accent-800/30 text-accent-300 my-0.5 inline-flex items-center rounded-md px-0 py-3 text-xs font-medium" ></span>
			{% endif %}
		{% endwith %}
	</td>

        <td
            class="py-3 pl-4 text-left text-sm font-medium"
            >
            {% if problem.editorial %}
                <a class="red-link" target="_blank" href="{{problem.editorial}}">Editorial</a>
            {% endif %}
        </td>

    {% if user.is_authenticated %}
        <td
            class="px-4 py-3 text-center text-sm font-medium"
            >
            <input type="checkbox"
                name="{{problem.problem_name}}"
                {% if problem in solved_problems %}
                    checked
                {% endif %}
                hx-post="{% url 'save_problem' %}"
                hx-swap="none"
                hx-vals='{"problem-name": "{{problem.problem_name}}"}'
                class="text-accent-600"
            >
        </td>
    {% endif %}
</tr>
