#editor { 
	width: 50%;
	height: 100%;
	margin-right: 1%;
}
#preview {
	width:50%;
	height:100%;
	overflow: auto;
}
#editor_preview {
	height: 90%;
	margin: 5%;
	overflow: auto;
	align-content: space-between;
}
