.container {
    display: flex;
    flex-direction: row;
    /* border: 1px dashed red; */
}

#top_bar_section {
    background-color: white;
    flex-direction: column;
}

#top_bar_section h1 {
    margin-left: 20px;
    font-family: "Epilogue";
    font-weight: 600;
    font-size: 50px;
    text-align: center;
    margin-bottom: 0;
}

#informationText {
    margin: 10px 20px 50px;
}

#problems_body_container {
    flex-direction: row;
}

#problems_table {
    display: table;
    height: 0px;
    background-color: white;
    width: 60%;
    margin-left: 5%;
    border-collapse: collapse;
    text-align: center;
    flex: 1;
    overflow-y: auto;
}

#problems_table thead th {
    font-size: 25px;
    border: 2px solid black;
    height: 20px;
}

#problems_table td {
    border-spacing: 8px;
    padding: 12px;
    border: 2px solid black;
}

#problems_table tbody tr {
    height: 20px;
}

#problems_table td:not(:first-child) {
    height: 20px;
    text-align: center;
}

#qroblems_table td:first-child{
    text-align: left;
}
.title_header {
	margin-top: 5%;
	margin-bottom: 5%;
}

#right_bar {
	flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
}

#save_container {
    flex-shrink: 0;
    border: 2px solid black;
    padding: 20px 30px;
    margin-bottom: 5%;
    flex-direction: column;
    text-align: center;
}

#filter_container {
    flex-shrink: 0;
    border: 2px solid black;
    padding: 20px 30px;
    margin-top: 5%;
    flex-direction: column;
    text-align: center;
}

#save_container input {
    margin-top: 5%;
    margin-bottom: 5%;
}

#filter_container input {
    margin-top: 5%;
    margin-bottom: 5%;
}

#elo_low {
    width: 40px;
    margin-left: 10px;
    margin-right: 2px;
}

#elo_high {
    width: 40px;
    margin-left: 2px;
}

#tags {
    width: 120px;
}

.faded-text {
    opacity: 0.6;
    text-align: center;
}
