.container {
    /* border: 1px dashed red; */
}

#top_bar_section {
    background-color: white;
    flex-direction: column;
}

#top_bar_section h1 {
    margin-left: 20px;
    font-family: "Epilogue";
    font-weight: 600;
    font-size: 50px;
    text-align: center;
    margin-bottom: 0;
}

#informationText {
    margin-bottom: 25px;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
}

#problems_body_container {
    flex-direction: row;
}

#problems_table {
    display: table;
    height: 0px;
    background-color: white;
    width: 60%;
    margin-left: 5%;
    border-collapse: collapse;
    text-align: center;
    flex: 1;
    overflow-y: auto;
}

#problems_table thead th {
    font-size: 25px;
    border: 2px solid black;
    height: 20px;
}

#problems_table a:link, #problems_table a:visited {
	text-decoration: none;
	color: rgb(30, 30, 238);
}

#problems_table a:hover {
	text-decoration: underline;
	color: rgb(0, 0, 170);
}

#problems_table td {
    border-spacing: 8px;
    padding: 12px;
    border: 2px solid black;
}

#problems_table tbody tr {
    height: 20px;
}

#problems_table td:not(:first-child) {
    height: 20px;
    text-align: center;
}

#problems_table td:first-child{
    text-align: left;
}

#right_bar {
	flex-direction: column;
	margin-left: 5%;
	margin-right: 5%;
}

.title_header {
	margin-bottom: 5%;
	margin-top: 5%;
}

#save_container {
	flex-shrink: 0;
	border: 2px solid black;
	padding: 20px 30px;
	flex-direction: column;
    text-align: center;
	margin-bottom: 10%;
}

#filter_form {
    flex-shrink: 0;
    border: 2px solid black;
    padding: 20px 30px;
    flex-direction: column;
    text-align: center;
}

#save_container input {
    margin-top: 5%;
    margin-bottom: 5%;
}

#filter_form input {
    margin-top: 5%;
    margin-bottom: 5%;
}

#min_elo {
    width: 40px;
    margin-left: 10px;
    margin-right: 2px;
}

#max_elo {
    width: 40px;
    margin-left: 2px;
}

#tags {
    width: 120px;
}

.faded-text {
    opacity: 0.6;
    text-align: center;
}

#page_navigation {

}
