{% extends base_template %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div
    class="flex flex-col h-full justify-center mx-auto min-w-56 sm:max-w-lg px-6">
    <div>
        <h1
            class="pb-6 text-2xl font-semibold text-center"
            >Sign Up</h1>
    </div>


    <form method="post" action="{% url 'create_profile' %}"
        hx-post="{% url 'create_profile' %}" hx-target="#main" hx-push-url="true">
    {% csrf_token %}
        <div class="my-4 flex flex-col gap-6">
            <div class="flex flex-col">
                <label
                    class="pb-2 font-medium"
                    for="id_username"
                    >Username</label>

                {% comment %}
                <div class="helptext" id="id_username_helptext">
                    Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.
                </div>
                {% endcomment %}
                
                <input
                    class="dark:text-text-dark dark:bg-background-900 border-background-800 border-1 focus:ring-accent-600 focus:border-accent-600 rounded"
                    type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" required="" aria-describedby="id_username_helptext" id="id_username">
                <div id="username_error"></div>
                <!-- <input -->
                <!-- class="dark:text-text-dark dark:bg-background-900 border-background-800 border-1 focus:ring-accent-600 focus:border-accent-600 rounded" -->
                <!-- type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username"> -->
            </div>
            <div
                class="flex flex-col"
                >
                <label
                    class="pb-2 font-medium"
                    for="id_password1">Password</label>
                {% comment %}
                  
                <ul class="text-sm">
                    <li>Your password can’t be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can’t be a commonly used password.</li>
                    <li>Your password can’t be entirely numeric.</li>
                </ul>
                {% endcomment %}
                
                <input
                    class="dark:text-text-dark dark:bg-background-900 border-background-800 border-1 focus:ring-accent-600 focus:border-accent-600 rounded"
                    type="password" name="password1" autocomplete="new-password" required="" aria-describedby="id_password1_helptext" id="id_password1">
                <div id="password1_error"></div>
            </div>
            <div
                class="flex flex-col"
                >
                <label
                    class="pb-2 font-medium"
                    for="id_password2">Password confirmation</label>

                {% comment %}
                <div class="helptext" id="id_password2_helptext">
                    Enter the same password as before, for verification. 
                </div>
                {% endcomment %}
                
                <input
                    class="dark:text-text-dark dark:bg-background-900 border-background-800 border-1 focus:ring-accent-600 focus:border-accent-600 rounded"
                    type="password" name="password2" autocomplete="new-password" required="" aria-describedby="id_password2_helptext" id="id_password2">
                <div id="password2_error"></div>
            </div>
            {% if form.password2.errors %}
                {{form.password2.errors}}
            {% endif %}
            <button class="bg-accent-600 py-2 rounded font-semibold" type="submit">Sign Up</button>
        </div>
    </form>
</div>
{% endblock %}
