{% extends base_template %}

{% load static %}

{% block meta %}
<meta name="description" content="Develop your competitive programming skills with educational resources on topics from languages to algorithms. There are resources available for any skill level, allowing you can learn at your own pace.">
{% endblock meta %}

{% block title %}Guides and Articles{% endblock %}

{% block content %}
	{% if guides or pages %}
        <div class="mx-auto max-w-7xl px-4 py-4 sm:px-6 lg:px-8">
			{% if guides %}
				<!-- guides -->
                <h1 class="text-text-light dark:text-text-dark mb-2 text-3xl font-bold">Guides</h1>
				<div id="guide_container" class="grid grid-cols-1 gap-3 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
					{% for guide in guides %}
						<a class="bg-accent-800/30 ring-accent-400/30 h-32 overflow-auto rounded-lg px-3 py-2 ring-1 sm:h-40"
                            href="{% url 'guide' guide=guide.url_name %}"
                            >
							<h1 class="text-text-light dark:text-accent-300 text-xl font-semibold">{{guide.guide_name}}</h1>
							<p class="text-text-light dark:text-text-100 pt-2">{{guide.short_description}}</p>
						</a>
					{% endfor %}
				</div>
			{% endif %}

			{% if pages %}
				<!-- pages -->
                <h1 class="text-text-light dark:text-text-dark mt-4 text-3xl font-bold">Featured Pages</h1>
                <div class="mt-2 flex flex-col">
					{% for page in pages %}
                        <a class="red-link mt-1"
                            href="{% url 'page' page=page.url_name %}"
                            >{{page.page_name}}</a>
					{% endfor %}
				</div>
			{% endif %}
		</div>
	{% else %}
        <p class="text-text-light dark:text-text-dark mt-1"
        >no content to display at this time.</p>
	{% endif %}
{% endblock %}
