{% extends base_template %}

{% load static %}

{% block title %}{{page.page_name}}{% endblock %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'vendored/katex/katex.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'learn/highlight_theme.css' %}">
{{ block.super }}
{% endblock %}

{% block content %}
    <div class="flex flex-row">
        <div class="ml-auto max-w-6xl overflow-x-auto px-4 py-4 sm:px-6 lg:pl-8 lg:pr-10">
            <h1 id="article_heading" class="text-text-light dark:text-text-dark mb-8 mt-4 text-3xl font-bold">{{page.page_name}}</h1>
            {% include "learn/components/language_switcher.html" %}
            <div :class="$store.language.language" class="markdown">
                {% include page.html_template_name %}
            </div>
            <div class="mt-10 flex flex-row justify-between">
            {% if previous_page %}
            <a
                class="red-link ml-0 px-4 py-2 text-lg md:ml-5 lg:ml-10"
                href="{% url 'page' page=previous_page.url_name %}" hx-swap="show:window:top"
                >
                <i class="fa-solid fa-chevron-left"></i>
                Previous: {{previous_page.page_name}}
            </a>
            {% endif %}
            {% if next_page %}
            <a
                class="red-link mr-0 px-4 py-2 text-lg md:mr-5 lg:mr-10"
                href="{% url 'page' page=next_page.url_name %}" hx-swap="show:window:top"
                >Next: {{next_page.page_name}}
                <i class="fa-solid fa-chevron-right"></i>
            </a>
            {% endif %}
            </div>
        </div>

        <!-- toc -->
        <div class="min-w-60 mr-auto hidden w-60 pr-8 lg:block">
            <div class="sticky top-0 pt-12">
                <ul class="max-h-[80vh] overflow-x-auto">
                    {% for currentPage in pages %}
                        <li class="my-3">
                        {% if currentPage == page %}
                            <a href="#article_heading"
                                class="dark:text-accent-400 hover:underline"
                                >{{page.page_name}}</a>
                            {% autoescape off %}
                            {{ page.toc }}
                            {% endautoescape %}
                        {% else %}
                            <a
                                class="dark:text-text-400 hover:text-accent-400"
                                href="{% url 'page' page=currentPage.url_name %}" hx-swap="show:window:top"
                                >{{currentPage.page_name}}</a>
                        {% endif %}
                        </li>
                    {% endfor %}
                    {% if page.guide %}
			{% if guide_view_permission %}
                        <li class="mt-10">
                            <a
                                class="dark:text-text-400 hover:text-accent-400"
                                href="{% url 'guide' guide=page.guide.url_name %}" hx-swap="show:window:top"
                                >Back to Guide</a>
                        </li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    {% include "learn/components/clipboard_notification.html" %}
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'vendored/clipboard.min.js' %}" defer></script>
    <script src="{% static 'learn/clipboard.js' %}" defer></script>
{% endblock %}
