{% extends base_template %}

{% load static %}

{% block styles %}
	<link rel="stylesheet" href="{% static 'learn/guide_page.css' %}">
{{ block.super }}
{% endblock %}


{% block title %}
{% if guide %}{% if page.visible or user.is_superuser %}{{guide.guide_name}}
{% else %}Cannot Access{% endif %}
{% else %}Doesn't Exist{% endif %}
{% endblock %}

{% block content %}
	{% if guide %}
		{% if page.visible or user.is_superuser %}
			<h1>{{guide.guide_name}}</h1>
			<p>{{guide.description}}</p>
			{% for page in pages %}
				<a href="{% url 'page' page=page.url_name %}">{{page.page_name}}</a>
			{% empty %}
				<p>There are no pages at the moment.</p>
			{% endfor %}
		{% else %}
			<p>You do not have access to this guide.</p>
		{% endif %}
	{% else %}
		<p>The requested guide does not exist.</p>
	{% endif %}
{% endblock %}
