{% extends base_template %}

{% load static %}

{% block meta %}
<meta name="description" content="Develop your competitive programming skills with educational resources on topics from languages to algorithms. There are resources available for any skill level, allowing you can learn at your own pace.">
{% endblock meta %}

{% block title %}Guides and Articles{% endblock %}

{% block content %}
	{% if guides or pages %}
        <div class="mx-auto max-w-7xl px-4 py-4 sm:px-6 lg:px-8">
			{% if guides %}
				<!-- guides -->
                <h1 class="text-text-light dark:text-text-dark text-3xl font-bold mb-2">Guides</h1>
				<div id="guide_container" class="grid xl:grid-cols-4 lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-3">
					{% for guide in guides %}
						<a class="overflow-auto h-32 sm:h-36 bg-accent-800/30 rounded-lg ring-1 ring-accent-400/30 px-3 py-2"
                            href="{% url 'guide' guide=guide.url_name %}"
                            >
							<h1 class="text-text-light dark:text-accent-300 font-semibold text-xl">{{guide.guide_name}}</h1>
							<p class="text-text-light dark:text-text-100 pt-2">{{guide.short_description}}</p>
						</a>
					{% endfor %}
				</div>
			{% endif %}

			{% if pages %}
				<!-- pages -->
                <h1 class="text-text-light dark:text-text-dark text-3xl font-bold mt-4">Featured Pages</h1>
                <div class="flex flex-col mt-2">
					{% for page in pages %}
                        <a class="red-link mt-1"
                            href="{% url 'page' page=page.url_name %}"
                            >{{page.page_name}}</a>
					{% endfor %}
				</div>
			{% endif %}
		</div>
	{% else %}
        <p class="text-text-light mt-1 dark:text-text-dark"
        >no content to display at this time.</p>
	{% endif %}
{% endblock %}
