{% extends "base/base_navbar.html" %}

{% load static %}

{% block title %}Guides and Tutorials{% endblock %}

{% block content %}
	{% if guides or pages %}
		{% for guide in guides %}
			<a href="{% url 'guide' guide=guide.url_name %}">{{guide.guide_name}}</a>
			<p>{{guide.short_description}}</p>
		{% endfor %}
		{% for page in pages %}
			<a href="{% url 'page' page=page.url_name %}">{{page.page_name}}</a>
		{% endfor %}
	{% else %}
		<p>no content to display at this time.</p>
	{% endif %}
{% endblock %}
