{% load static %}

<div id="editor_preview">
    <a id="editor_link" href="{% url 'markdown_editor' %}" target="_blank">Editor With Preview</a>
	<div id="editor">{% if widget.value %}{{ widget.value }}{% endif %}</div>
	<textarea
		name="{{ widget.name }}"
        class="hidden-textarea"
		{% include "django/forms/widgets/attrs.html" %}
		style="display: none;"
	></textarea>
</div>

<script src="{% static 'vendored/ace/ace.js' %}" defer></script>
<script src="{% static 'vendored/ace/ext-language_tools.js' %}" defer></script>
<script src="{% static 'learn/markdown_editor.js' %}" defer></script>
