{% extends base_template %}

{% load static %}

{% block title %}
{% if page %}{% if page.visible or user.is_superuser %}{{page.page_name}}
{% else %}Cannot Access{% endif %}
{% else %}Doesn't Exist{% endif %}
{% endblock %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'vendored/katex/katex.min.css' %}"/>
{{ block.super }}
{% endblock %}

{% block content %}
    <div class="flex flex-row">
    <div class="ml-auto overflow-x-auto max-w-6xl px-4 py-4 sm:px-6 lg:pl-8 lg:pr-10">
        {% if page %}
            {% if page.visible or user.is_superuser %}
                    <h1 class="text-text-light dark:text-text-dark text-3xl font-bold mt-4 mb-8">{{page.page_name}}</h1>
                    {% include "learn/components/language_switcher.html" %}
                    <div :class="$store.language.language" class="markdown">
                        {% include page.html_template_name %}
                    </div>
                    {% if page.guide and page.guide.visible %}
                        <a
                            class="red-link"
                            href="{% url 'guide' guide=page.guide.url_name %}"
                            hx-get="{% url 'guide' guide=page.guide.url_name %}" hx-target="main" hx-push-url="true"
                            >Back to guide</a>
                    {% endif %}
            {% else %}
                <p class="text-text-light mt-1 dark:text-text-dark"
                >You do not have access to this page.</p>
            {% endif %}
        {% else %}
            <p class="text-text-light mt-1 dark:text-text-dark"
            >The requested page does not exist.</p>
        {% endif %}
    </div>

    <!-- toc -->
    {% autoescape off %}
    <div class="hidden lg:block pr-8 w-60 min-w-60 mr-auto">
        <div class="sticky top-0 pt-8">
        {{ page.toc }}
        </div>
    </div>
    {% endautoescape %}

    </div>

    {% include "learn/components/clipboard_notification.html" %}
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'vendored/clipboard.min.js' %}" defer></script>
    <script src="{% static 'learn/clipboard.js' %}" defer></script>
{% endblock %}
