{% extends base_template %}

{% load static %}

{% block styles %}
	<link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/styles/tokyo-night-dark.min.css">
	{{ block.super }}
{% endblock %}

{% block javascript %}
	<script src="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/highlight.min.js"></script>
	{{ block.super }}
{% endblock %}

{% block title %}
{% if page %}{% if page.visible or user.is_superuser %}{{page.page_name}}
{% else %}Cannot Access{% endif %}
{% else %}Doesn't Exist{% endif %}
{% endblock %}

{% block content %}
	{% if page %}
		{% if page.visible or user.is_superuser %}
            <div class="mx-auto max-w-5xl px-4 py-4 sm:px-6 lg:px-8">
                <h1 class="text-text-light dark:text-text-dark text-3xl font-bold mt-4 mb-8">{{page.page_name}}</h1>
				<div class="markdown">
					{% include page.html_template_name %}
				</div>
                {% if page.guide and page.guide.visible %}
                    <a
                        class="red-link"
                        href="{% url 'guide' guide=page.guide.url_name %}">Back to guide</a>
                {% endif %}
				{% comment %}
				<!-- toc -->
				{% autoescape off %}
					{{ page.toc }}
				{% endautoescape %}
				{% endcomment %}
			</div>
		{% else %}
            <p class="text-text-light mt-1 dark:text-text-dark"
            >You do not have access to this page.</p>
		{% endif %}
	{% else %}
        <p class="text-text-light mt-1 dark:text-text-dark"
        >The requested page does not exist.</p>
	{% endif %}
	<script>hljs.highlightAll();</script>
{% endblock %}
