{% extends "base/base_navbar.html" %}

{% load static %}

{% block title %}Problems{% endblock %}

{% block content %}
	{% if page %}
		{% if page.visible or user.is_superuser %}
			<h1> {{page.page_name}} </h1>
			{% include page.html_template_name %}
			{% if page.guide and page.guide.visible %}
				<a href="{% url 'guide' guide=page.guide.url_name %}">Back to guide</a>
			{% endif %}
		{% else %}
			<p>You do not have access to this page.</p>
		{% endif %}
	{% else %}
		<p>The requested page does not exist.</p>
	{% endif %}
{% endblock %}
