{% extends "base/base_navbar.html" %}

{% load static %}

{% block title %}Page Maker{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ace-builds/css/ace.min.css">
	<link rel="stylesheet" href="{% static 'learn/pageMaker.css' %}">
	{{ block.super }}
{% endblock styles %}

{% block javascript %}
	<script src="https://unpkg.com/showdown/dist/showdown.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/ace-builds/src-noconflict/ace.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/ace-builds/src-noconflict/ext-language_tools.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/ace-builds/src-noconflict/snippets/html.js"></script>
	{{ block.super }}
{% endblock javascript %}

{% block content %}
	<div id="editor_preview" class="container">
		<div id="editor"># hello, markdown!</div>
		<div id="preview"> nothing to preview </div>
	</div>
	<script src="{% static 'learn/pageMaker.js' %}"></script>
{% endblock content %}
