{% extends "base/base_navbar.html" %}
{% load static %}

{% block title %}Forbidden{% endblock %}

{% block content %}
<div class="flex flex-col items-center justify-center h-full">
    <h1 class="font-semibold text-6xl mb-6">403: Forbidden</h1>
    <h2 class="font-medium text-2xl text-center">Seems like you don't have permission to do that.</h2>
    <h2 class="font-medium text-2xl text-center mb-32">To proceed, please <a href="{% url 'login' %}" class="red-link">login</a> with an account that has access.</h2>
    <h2 class="font-medium text-2xl">"You Shall Not Pass!"</h2>
    <h2 class="font-medium text-md">- Someone Probably</h2>
</div>
{% endblock %}
