html, body {
    background-color: white;
    font-family: "Poppins", sans-serif;
    height: 100%;
}

a {
    color: black;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: row;
    /* border: 1px dashed red; */
}

#top_bar_section {
    background-color: white;
    flex-direction: column;
}

#top_bar_section h1 {
    margin-left: 20px;
    font-family: "Epilogue";
    font-weight: 600;
    font-size: 50px;
    text-align: center;
    margin-bottom: 0;
}

#main_area{
    position: inline-flex;
    margin: 0;
    padding: 0;
    width: calc(100%-250px);
    height: 100%;
    margin-left: 250px;
    background-color: white;
    flex-direction: column;
    overflow-y: auto;
    min-height: calc(100% - 50px);
}

#informationText {
    margin: 10px 20px 50px;
}

#problems_body_container {
    flex-direction: row;
}

#problems_table {
    display: table;
    height: 0px;
    background-color: white;
    width: 60%;
    margin-left: 5%;
    border-collapse: collapse;
    text-align: center;
    flex: 1;
    overflow-y: auto;
}

#problems_table thead th {
    font-size: 25px;
    border: 2px solid black;
    height: 20px;
}

#problems_table td {
    border-spacing: 8px;
    padding: 12px;
    border: 2px solid black;
}

#problems_table tbody tr {
    height: 20px;
}

#problems_table td:not(:first-child) {
    height: 20px;
    text-align: center;
}

#problems_table td:first-child{
    text-align: left;
}

#filter_container {
    flex-shrink: 0;
    border: 2px solid black;
    padding: 20px 30px;
    margin-left: 5%;
    margin-right: 5%;
    flex-direction: column;
    height: 325px;
    text-align: center;
}

#filter_container label{
    margin-right: 12px;
    margin-left: 12px;
}

#filter_container input {
    margin-bottom: 20px;
}

#elo_low {
    width: 40px;
    margin-left: 10px;
    margin-right: 2px;
}

#elo_high {
    width: 40px;
    margin-left: 2px;
}

#tags {
    width: 120px;
}

.faded-text {
    opacity: 0.6;
    text-align: center;
}