#content{
	justify-content: center;
	height: 100%;
	align-items: center;

}

header {
	height: 100px;
}

#logo_link{
	display: flex;
	align-items: center;
}

#profile_links {
	display:flex;
	margin-left: auto;
	margin-right: 50px;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}

#profile_links a{
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100px;
	height: 50%;

	margin-top: auto;
	margin-bottom: auto;
	border-radius: 10px;
	color: black;
	text-decoration: none;
}

#signup_link {
	border: 2px solid black;
}


#main_links {
	display:flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}
