{% load static tailwind_tags %}

<!DOCTYPE html>
<html class="h-full min-h-full bg-background-50 dark:bg-background-900 text-text-light dark:text-text-dark" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Default title {% endblock title %} | Flare</title>
    {% block styles %}
    {% endblock %}
    {% block javascript %}
        <script src="{% static 'vendored/htmx.min.js' %}" defer></script>

        <script src="{% static 'vendored/alpinejs/alpinejs_persist.min.js' %}"></script>
        <script defer>
            document.addEventListener('alpine:init', () => {
                Alpine.store('language', {
                    update_language_text(){
                        lang2text = {'cpp':'C++','python':'Python','java':'Java'};
                        this.language_text = lang2text[this.language];
                    },

                    language: Alpine.$persist('cpp').as('language_preference'),
                    language_text: 'cpp',

                    set_language(language){
                        this.language = language;
                        this.update_language_text();
                    },
                });
            });
        </script>
        <script src="{% static 'vendored/alpinejs/alpinejs.min.js' %}" defer></script>
        <script src="https://kit.fontawesome.com/7bc532d61e.js" crossorigin="anonymous" defer></script>
	{% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static "learn/highlight_theme.css" %}">
    <link rel="shortcut icon" href="{% static 'base/favicon.png' %}"/>
    {% tailwind_css %}
    <meta name="htmx-config" content='{"useTemplateFragments":"true"}'>
</head>
	<body
        class="h-full"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'x-init="$store.language.update_language_text()">
    {% block body %}{% endblock %}
	</body>
</html>
