{% load static tailwind_tags %}

<!DOCTYPE html>
<html class="h-full min-h-full bg-background-50 dark:bg-background-900 text-text-light dark:text-text-dark dark"
    x-data
    :class="{'dark' : $store.dark_theme.dark_theme }"
    lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block meta %}{% endblock meta %}

    {% block titletag %}
    <title>{% block title %} Default title {% endblock title %} | Flare</title>
    {% endblock titletag %}
    {% block styles %}{% endblock %}
    {% block javascript %}
        <script src="{% static 'vendored/htmx.min.js' %}" defer></script>

        <script src="{% static 'vendored/alpinejs/alpinejs_persist.min.js' %}"></script>
        <script defer>
            document.addEventListener('alpine:init', () => {
                Alpine.store('language', {
                    update_language_text(){
                        lang2text = {'cpp':'C++','python':'Python','java':'Java'};
                        this.language_text = lang2text[this.language];
                    },

                    language: Alpine.$persist('cpp').as('language_preference'),
                    language_text: 'cpp',

                    set_language(language){
                        this.language = language;
                        this.update_language_text();
                    }
                });
                Alpine.store('dark_theme', {
                    dark_theme: Alpine.$persist(true).as('dark_theme'),
                    toggle(){
                        this.dark_theme = !this.dark_theme;
                    },
                });
            });
        </script>
        <script src="{% static 'vendored/alpinejs/alpinejs.min.js' %}" defer></script>
	{% comment %}
        <script src="https://kit.fontawesome.com/7bc532d61e.js" crossorigin="anonymous" defer></script>
	{% endcomment %}
    {% endblock %}

    {% tailwind_preload_css %}
    {% tailwind_css %}

    {% comment %}
    <link href="{% static 'vendored/fontawesome/css/regular.css' %}" rel="stylesheet" />
    {% endcomment %}

    <link rel="icon" href="{% static 'favicon/favicon-32.png' %}" sizes="32x32">
    <link rel="icon" href="{% static 'favicon/favicon-128.png' %}" sizes="128x128">
    <link rel="icon apple-touch-icon" href="{% static 'favicon/favicon-180.png' %}" sizes="180x180">
    <link rel="icon shortcut" href="{% static 'favicon/favicon-192.png' %}" sizes="192x192">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link href="{% static 'vendored/fontawesome/css/fontawesome.min.css' %}" rel="stylesheet" />
    <link href="{% static 'vendored/fontawesome/css/brands.min.css' %}" rel="stylesheet" />
    <link href="{% static 'vendored/fontawesome/css/solid.min.css' %}" rel="stylesheet" />


    <meta name="htmx-config" content='{"useTemplateFragments":"true"}'>
</head>
	<body
        class="h-full"
        hx-boost="true"
        hx-target="#main"
        hx-push-url="true"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' x-init="$store.language.update_language_text()">
    {% block body %}{% endblock %}
	</body>
</html>
