{% load static tailwind_tags %}

<!DOCTYPE html>
<html class="h-full min-h-full bg-background-50 dark:bg-background-900 text-text-light dark:text-text-dark dark"
    x-data
    :class="{'dark' : $store.dark_theme.dark_theme }"
    lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block titletag %}
    <title>{% block title %} Default title {% endblock title %} | Flare</title>
    {% endblock titletag %}
    {% block styles %}{% endblock %}
    {% block javascript %}
        <script src="{% static 'vendored/htmx.min.js' %}" defer></script>

        <script src="{% static 'vendored/alpinejs/alpinejs_persist.min.js' %}"></script>
        <script defer>
            document.addEventListener('alpine:init', () => {
                Alpine.store('language', {
                    update_language_text(){
                        lang2text = {'cpp':'C++','python':'Python','java':'Java'};
                        this.language_text = lang2text[this.language];
                    },

                    language: Alpine.$persist('cpp').as('language_preference'),
                    language_text: 'cpp',

                    set_language(language){
                        this.language = language;
                        this.update_language_text();
                    }
                });
                Alpine.store('dark_theme', {
                    dark_theme: Alpine.$persist(true).as('dark_theme'),
                    toggle(){
                        this.dark_theme = !this.dark_theme;
                    },
                });
            });
        </script>
        <script src="{% static 'vendored/alpinejs/alpinejs.min.js' %}" defer></script>
        <script src="https://kit.fontawesome.com/7bc532d61e.js" crossorigin="anonymous" defer></script>
	{% endblock %}

    <link rel="stylesheet" href="{% static "learn/highlight_theme.css" %}">
    <link rel="shortcut icon" href="{% static 'base/favicon.png' %}"/>
    {% tailwind_css %}
    <meta name="htmx-config" content='{"useTemplateFragments":"true"}'>
</head>
	<body
        class="h-full"
        hx-boost="true"
        hx-target="#main"
        hx-push-url="true"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' x-init="$store.language.update_language_text()">
    {% block body %}{% endblock %}
	</body>
</html>
