{% extends "base/base_navbar.html" %}

{% load static %}

{% block title %}Home{% endblock %}

{% block styles %}
{{block.super}}
<link rel="stylesheet" href="{% static 'home/home.css' %}">
{% endblock %}

{% block content %}
	{{block.super}}
	<div class="container" id="main_area">
        <div class="container" id="top_bar_section">
            <h1>Home</h1>
        </div>
        <div class="container" id="informationText">
            <p>Welcome to the home page!<p>
        </div>
        <div class="container" id="section_container">
            <div class="column_container">
                <div class="container" id="comps_container">
                    COMPS
                </div>
                <div class="container" id="about_container">
                    ABOUT
                </div>
            </div>
            <div class="column_container">
                <div class="container" id="learn_container">
                    LEARN
                </div>
                <div class="container" id="probs_container">
                    PROBLEMS
                </div>
            </div>
        </div>
    </div>
{% endblock %}
