{% load static %}

<!doctype html>
<html lang="en-US">
	<head>
		<meta charset="utf-8" />
	 	<title>problems</title>
		<link rel="stylesheet" href="{% static 'base/style.css' %}">
	</head>
	<body>
	{% if problems %}
		<table>
			<tr>
				<th>name</th>
				<th>elo</th>
				<th>editorial</th>
			</tr>
		{% for problem in problems %}
			<tr>
				<th><a href="{{problem.link}}">{{problem.problem_name}}</a></th>
				<th>{{problem.elo}}</th>
				<th>{{problem.editorial}}</th>
			</tr>
		{% endfor %}
	{% else %}
		<p>There are no problems</p>
	{% endif %}
	</body>
</html>
