{% load static %}
<header class="container">
	<a href="{% url 'home' %}" id="logo_link">
		<img src="{% static 'base/flarelogo.png' %}" alt="Flare Logo" class="logo">
		<h1 id="website_title">Flare</h1>
	</a>
	<nav id="main_links">
		<a href="{% url 'problems' %}" id="problem_link">Problems</a>
		<a href="{% url 'learn' %}" id="learn_link">Learn</a>
		{% comment %}
		<a href="{% url 'contests' %}" id="learn_link">Contests</a>
		{% endcomment %}
	</nav>
	{% if user.is_authenticated %}
		<nav id="profile_links">
			<a href="{% url 'profile' %}">{{ user.username }}</a>
		</nav>
	{% else %}
		<nav id="profile_links">
			<a href="{% url 'login' %}" id="login_link">Log In</a>
			<a href="{% url 'create_profile' %}" id="signup_link">Sign Up</a>
		</nav>
	{% endif %}
</header>
