{% load static %}
<header>
<!-- <header class="min-w-full" -->
    <nav
        class="bg-background-900"
        x-data="{
            mobile_menu_open: false,
            toggle_mobile() {
                this.mobile_menu_open = ! this.mobile_menu_open
            },
            close_mobile(focusAfter) {
                this.mobile_menu_open = false

                focusAfter && focusAfter.focus()
            }
        }"
        >
        <div class="mx-auto max-w-screen-2xl px-4 sm:px-6 lg:px-8">
            <div class="flex h-20 items-center justify-between">
                <div class="flex items-center">
                    <a href="{% url 'home' %}" class="flex items-center">
                        <img src="{% static 'logo/logo.svg' %}" alt="Flare Logo" class="h-16 w-16">
                        <h1 class="text-xl font-bold text-text-100 ml-2 font-['Work_Sans']">Flare</h1>
                    </a>
                    {% include "base/components/page_links.html" %}
                </div>
                <div class="hidden md:block"
                    x-data="{
                        open: false,
                        toggle() {
                            this.open = ! this.open
                        },
                        close(focusAfter) {
                            this.open = false

                            focusAfter && focusAfter.focus()
                        }
                    }"
                    >
                    {% include "base/components/profile_navigation.html" %}
                </div>
                {% include "base/components/mobile_menu_button.html" %}
            </div>
        </div>
        {% include "base/components/mobile_menu.html" %}
    </nav>
</header>
